*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  background-color: #000;
  color: #fff;
  block-size: 100vh;
}

:root {
  --red: #DF301F;
  --blue: #1E5DA2;
  --white: #fff;
  --gray: #D9D9D9;
}

.body {
  display: flex;
  block-size: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 50px;
}

.button {
  background-color: var(--blue);
  border: 1px var(--white) solid;
  inline-size: 250px;
  block-size: 150px;
}

.button:nth-child(2) {
  background-color: var(--red);
}

.button_link {
  color: var(--white);
  text-decoration: none;
  font-size: 25px;
  display: grid;
  place-items: center;
  inline-size: 100%;
  block-size: 100%;
}